@font-face{
    font-family: Rubik;
    src: url('./assets/Rubik-Regular.ttf');
}

*{
    font-family: Rubik;
}
body{
    background-image: radial-gradient(aliceblue, beige 10%, aliceblue 80%);
}

body::after{
    content: "";
    background-image: url("./assets/bankOfAvion.png");
    background-size: 40%;
    background-repeat: no-repeat;
    background-position: center;
    opacity:0.5;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    z-index: -1000;
}

div.navbar{
    margin-bottom: 1em;
    background-color: aliceblue;
}
span{
    margin-right: .25em;
    box-shadow: 1px 1px .5px dimgray;
}
span:hover{
    color: white;
    background-color: black;
    box-shadow: 2px 2px 1px dimgray;
    z-index: 100;
}

a{
    color: black;
    text-decoration: none;
    padding: .25em;
}
a:hover{
    color:white;
}

div#userbox{
    border: 1px solid black;
    border-radius: 1em;
    margin: .15em;
    padding: .15em;
    box-shadow: 2px 2px 1px dimgray;
    background-color: aliceblue;
    opacity: 85%;
    min-height: 7.5em;
}

div#userbox:hover{
    box-shadow: 4px 4px 2px dimgray;
    background-color: black;
    color:white;
}

div#userbox > h2{
    margin: .25em;
}
div#userbox>p{
    margin: .5em;
}

div.add-container, div.transaction-container{
    margin-top: 1em;
    padding: .5em;
    background-color: aliceblue;
    border: 1px solid black;
    border-radius: 1em;
    display:none;
}

div#submitAllContainer{
    display: flex;
    justify-content: center;
    margin-top: 1em;
    margin-bottom: 1em;
}

div.body-wrapper{
    background-color: aliceblue;
    opacity: 85%;
}

div.user-container{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

div.singleTransaction{
    margin-bottom: .5em;
}

button{
    padding: .5em;
    margin-right: .5em;
    box-shadow: 2px 2px 1px aliceblue;
    font-size: 20px;
    z-index: 1;
}
button:hover{
    box-shadow: 4px 4px 2px dimgray;
    z-index: 100;
}
@media only screen and (max-width: 900px){
    div.user-container{
        display:grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media only screen and (max-width: 600px){
    div.user-container{
        display:grid;
        grid-template-columns: 1fr 1fr;
    }
}
@media only screen and (max-width: 360px){
    div.user-container{
        display:block;
    }
}


form{
    display: inline;
}

/* div.dev-bar{
    position:static;
    bottom:0;
    width: 100%;
    text-align: center;
} */

/* div.button-container{
        display: flex;
        position: absolute;
        float: right;
        top: 0;
        margin-top: 40px;
        right: 20px;
        z-index: 10;
        padding: 10px 10px 10px 10px;
        color: #ffffff;
        background-color:  #1d6baf; 
        font-weight: 700;
        box-shadow: 0 0 10px rgba(0,0,0,0.5);
        border-bottom-left-radius: 2px;
        border-bottom-right-radius: 2px;
} */

#loadDataBtn, #clearLocal{
    margin: 0 1em;
    font-size: 20px;
    display:none;
}
div.newsfeed{
    display: grid;
    grid-template-columns:1fr 1fr ;
}

div.worldnews, div.businessnews{
    background-color: dimgray;
    margin: .5em;
    border-radius: 2em;
    padding: .5em;
    box-shadow: 2px 2px 1px dimgray,-2px -2px 1px black;
    text-shadow: .5px .5px 0 dimgray;
    opacity: 98%;
}

div.worldnews>h4, div.businessnews>h4{
    text-decoration: underline;
    
}

table{
    margin-top: 2em;
    width: 100%;
    border: 1px solid dimgray;
    background: aliceblue;
    opacity: 85%;
}
th,td{
    border: 1px solid dimgray;
}
textarea, div#userbox>div{
    margin-left: .5em;
}

div.button-container{
    display: flex;
    position: absolute;
    float: right;
    top: 0;
    margin-top: 80px;
    right: 0;
    z-index: 10;
    padding: 10px 10px 10px 10px;
    color: #ffffff;
    background-color:  #1d6baf; 
    font-weight: 700;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}
#dev-options {
        display: inline;
        position: absolute;
        width: 5.5em;
        top: 0;
        margin-top: 0px;
        right: 0;
        z-index: 10;
        padding: 10px 10px 10px 10px;
        color: #ffffff;
        background-color:  #0090ff; 
        font-weight: 700;
        box-shadow: 0 0 10px rgba(0,0,0,0.5);
        border-bottom-left-radius: 2px;
        border-bottom-right-radius: 2px;
}