@font-face{
    font-family: Rubik;
    src: url('./assets/Rubik-Regular.ttf');
}

*{
    font-family: Rubik;
}
body{
    background-image: radial-gradient(aliceblue, beige 10%, aliceblue 80%);
}

body::after{
    content: "";
    background-image: url("./assets/bankOfAvion.png");
    background-size: 40%;
    background-repeat: no-repeat;
    background-position: center;
    opacity:0.5;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    z-index: -1000;
}

#loadDataBtn{
    display: block; 
    margin: 0 auto;
    font-size: 20px;
}
div.navbar{
    margin-bottom: 1em;
    background-color: aliceblue;
}
span{
    margin-right: 1.5em;
    box-shadow: 1px 1px .5px dimgray;
}
span:hover{
    color: white;
    background-color: black;
}
a{
    color: black;
    text-decoration: none;
    padding: .5em;
}
a:hover{
    color:white;
}

div#userbox{
    border: 1px solid black;
    border-radius: 1em;
    margin: .5em;
    padding: .25em;
    box-shadow: 2px 2px 1px dimgray;
    background-color: aliceblue;
    opacity: 85%;
}